---
import Benefit from "../components/benefit.astro";
import GetStarted from "../components/get-started.astro";
import Hero from "../components/hero.astro";
import Logo from "../components/logo.astro";
import MerchantPartner from "../components/merchant-partner.astro";
import Layout from "../layouts/main.astro";
---

<Layout>
  <Hero />
  <div class="container mx-auto">
    <Logo />
    <Benefit />
    <GetStarted />
    <MerchantPartner />
  </div>
</Layout>
