<div class="p-12 text-center space-y-8">
  <h1 class="text-4xl font-bold">Got any questions?</h1>
  <p class="text-gray-500">
    Contact our Customer Service at <a href="tel:+0288805200" class="text-primary">(02) 8880 5200</a>, or check out our
    Help Center (<a href="https://help.shopee.ph" class="text-primary">help.shopee.ph</a>) for answers to frequently
    asked questions about ShopeePay.
  </p>
  <a
    href="https://help.shopee.ph/portal/4/category/38-Payments/825-ShopeePay?page=1"
    class="text-white duration-250 hover:opacity-80 block bg-primary px-8 py-4 rounded-full mx-auto w-64 transition-colors"
    target="_blank"
    rel="noopener noreferrer">Visit our Help Center →</a
  >
</div>
