<div class="bg-gray-100 p-12 text-center space-y-6">
  <h1 class="text-4xl font-bold">Safe With ShopeePay</h1>
  <img src="/safety.svg" alt="Safe" class="mx-auto" />
  <p class="text-xl font-bold">ShopeePay Philippines, Inc. is regulated by the Bangko Sentral ng Pilipinas</p>
  <a
    href="https://www.bsp.gov.ph/"
    class="text-primary duration-250 hover:opacity-80 block"
    target="_blank"
    rel="noopener noreferrer">(https://www.bsp.gov.ph/)</a
  >
</div>
