---
import Base from "./base.astro";
---

<Base>
  <main class="mt-16 selection:bg-primary selection:text-white">
    <article class="prose mx-auto p-4">
      <slot />
    </article>
  </main>
</Base>
